:root {
    --mainBlue: #2a2a72;
    --lightBlue: #009ffd;
    --mainWhite: #f3f3f3;
    --brandGrey: rgb(70, 70, 70);
    --mainDark: #232528;
    --mainYellow: #ffa400;
}

a {
    text-decoration: none !important;
}

.anieka {
    border-radius: 50%;
}

body {
    font-family: 'Playfair Display', serif !important;
    height: 100% !important;
    background: var(--mainWhite) !important
}

.brand-text {
    font-family: 'Niconne', cursive;
    color: var(--brandGrey);
    font-size: 2rem!important;
    font-weight: bold!important;
}

.buttons {
    float: right;
}

.btn-outline-success {
    color: black !important;
    border: 1px solid pink !important;
}

.btn-outline-success:hover {
    color: white !important;
    background-color: pink !important;
    border: 2px inset solid pink !important;
}

.btn-outline-warning {
    color: black!important;
}

.create {
    padding-top: 0 !important;
    padding-bottom: 2rem !important;
}

.cart-btn {
    border: 1px solid orange;
    border-radius: 5px;
    padding: 1%;
}

.pink {
    background-color: pink !important;
}

.pink-btn {
    background-color: pink !important;
    border: 1px solid pink !important;
}

.pink-btn:hover {
    background-color: rgb(226, 166, 176) !important;
    border: 2px inset solid pink !important;
}

.pink-icon {
    color: pink;
}

ul {
    list-style-type: none !important;
    overflow: hidden !important;
}

.login {
    padding-left: 2%;
}

.signup {
    padding-left: 2%;
}

li {
    float: left !important;
}

li a {
    display: block;
}

.links {
    color: rgb(0, 72, 114);
}

.section-bg-dark {
    background-color: lightgrey;
}

span.form {
    margin-top: 0!important;
}

.site-logo {
    width: 10%!important;
    margin: 0!important;
}

.sticky {
    position: fixed;
}

.title-text {
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}